development:
  server: "http://localhost:9292/faye"
  secret_token: "1b8299fda7917ab62f4fff0cadc363e346e287856b3c4186b5a47554af03f054"
test:
  server: "http://localhost:9292/faye"
  secret_token: "testsecret"
production:
  server: "http://heyook-private-pub-server.herokuapp.com/faye"
  secret_token: "1b8299fda7917ab62f4fff0cadc363e346e287856b3c4186b5a47554af03f054"
  signature_expiration: 3600 # one hour
